<div class="wrapper clearfix">
  

  <%= render 'layouts/nav' %>

  <div class="col-md-6 about" id="main-page-wrapper">

    <div class="page-container">
      <h1>UON About Page</h1>
      <p>
        this is what we're all about!
      </p>

    </div>
  </div>
</div>