<div class="wrapper row clearfix">
  <!-- <div class="container clearfix"> -->
    
    <%= render 'layouts/nav' %>
    


    <!-- <div class="wrapper-left home" id="main-page-wrapper"> -->
    <div class="col-md-9 home" id="main-page-wrapper">

      <div class="page-container">

      <div class="primary_image">
        <%= link_to image_tag("sample-showcase-md.jpg"), '/home/2', id: 'link' %>
        
      </div>

      </div>
      
    </div>
  <!-- </div> -->
</div>