<div class="wrapper clearfix">
  <!-- <div class="container clearfix"> -->
    
    <%= render 'layouts/nav' %>
    


    <div class="col-md-9 home" id="main-page-wrapper">
      <div class="page-container">
        <div class="primary_image">
          <%= link_to image_tag("sample-showcase-md.jpg"), '/home/2', id: 'link' %>
        
          <div class="description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt, nibh eu posuere commodo, erat ligula volutpat neque, a rutrum nisi felis vel ipsum. Curabitur auctor risus viverra purus cursus, nec fringilla sem sodales. Duis eleifend condimentum fermentum. Cras varius dapibus sodales. Nunc egestas purus eget leo maximus dapibus. Quisque non porta nunc. Sed condimentum quis turpis vitae rhoncus. Ut suscipit vel nisl in euismod. Proin vestibulum, justo ut suscipit cursus, elit lorem ultricies orci, at auctor mi augue sed ligula. Cras porttitor non tellus eu dignissim. Donec nec mauris eget quam tincidunt tristique.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt, nibh eu posuere commodo, erat ligula volutpat neque, a rutrum nisi felis vel ipsum. Curabitur auctor risus viverra purus cursus, nec fringilla sem sodales. Duis eleifend condimentum fermentum. Cras varius dapibus sodales. Nunc egestas purus eget leo maximus dapibus. Quisque non porta nunc. Sed condimentum quis turpis vitae rhoncus. Ut suscipit vel nisl in euismod. Proin vestibulum, justo ut suscipit cursus, elit lorem ultricies orci, at auctor mi augue sed ligula. Cras porttitor non tellus eu dignissim. Donec nec mauris eget quam tincidunt tristique.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt, nibh eu posuere commodo, erat ligula volutpat neque, a rutrum nisi felis vel ipsum. Curabitur auctor risus viverra purus cursus, nec fringilla sem sodales. Duis eleifend condimentum fermentum. Cras varius dapibus sodales. Nunc egestas purus eget leo maximus dapibus. Quisque non porta nunc. Sed condimentum quis turpis vitae rhoncus. Ut suscipit vel nisl in euismod. Proin vestibulum, justo ut suscipit cursus, elit lorem ultricies orci, at auctor mi augue sed ligula. Cras porttitor non tellus eu dignissim. Donec nec mauris eget quam tincidunt tristique.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt, nibh eu posuere commodo, erat ligula volutpat neque, a rutrum nisi felis vel ipsum. Curabitur auctor risus viverra purus cursus, nec fringilla sem sodales. Duis eleifend condimentum fermentum. Cras varius dapibus sodales. Nunc egestas purus eget leo maximus dapibus. Quisque non porta nunc. Sed condimentum quis turpis vitae rhoncus. Ut suscipit vel nisl in euismod. Proin vestibulum, justo ut suscipit cursus, elit lorem ultricies orci, at auctor mi augue sed ligula. Cras porttitor non tellus eu dignissim. Donec nec mauris eget quam tincidunt tristique.
            </p>
          </div>

          <div class="archive-link">
            Archives
          </div>
          
        </div>
      </div>

      
    </div>
  <!-- </div> -->
</div>