<h1 class="display-outside">U.O.N MFG</h1>

<div class="wrapper">
  <div class="container">
    <div class="center logo-w">
      <div class="center valign logo-c">
        <%= link_to image_tag("logo.png"), '/home' %>
        
        <div class="links">
          <a href="#">Korean</a>
          <a href="#">English</a>
          <a href="#">Japanese</a>
        </div>
      </div>
    </div>
  </div>
</div>



