<!-- <div class="left-fixed-nav" id="nav"> -->
<div class="col-md-3 left-fixed-nav" id="nav"> 
  <div class="container">
    
    <%= link_to image_tag("logo.png", class: 'smaller-logo', alt: "UON"), "/home" %>

    <ul class="navigation">
      <li>
        <%= link_to("About", '/about') %>
      </li>
      <li>
        <%= link_to("Contact", '/contactus') %>
      </li>
      <!-- <li><a href="#">Shop</a></li> -->
    </ul>
  </div>
</div>